name: CD

on:
  release:
    types:
      - created

jobs:
  cd:
    name: NuGet Publish

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - id: get_version
        uses: battila7/get-version-action@v2

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test

      - name: Pack
        run: dotnet pack --no-build -c Release DiAttributes/DiAttributes.csproj -o . -p:Version=${{ steps.get_version.outputs.version-without-v }}

      - name: Push
        run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}} --skip-duplicate -n 1
